<%- include("partials/header") %>

    <h1><%= listName %></h1>

    <div class="content">
        <% if(locals.tasks === undefined || tasks.length === 0){  %>

            <p>No tasks available <hr></p>
            
        <% } else { %>

            <ul>
                <% tasks.forEach(task =>{ %>
                    <form action="/delete" method="POST">
                        <li>
                            <input type="checkbox" class="" value="<%= task._id %>"
                                name="checkbox" onchange="this.form.submit()" id="">
                            <%= task.taskName %><hr>
                        </li>
                        <input type="hidden" name="ListTitle" value="<%= listName %>">
                    </form>
                <% }) %>
            </ul>

        <% } %>

        <form action="/" method="POST">
            <input type="text" name="task" placeholder="New task">
            <button type="submit" name="ListTitle" value="<%= listName %>">+</button>
        </form>
    </div>

<%- include("partials/footer") %>
